*{
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito Sans', sans-serif;
}
#heading{
    width: 100%;
    font-size:30px;
    text-align: center;

}
#heading h1{
    padding-top: 60px;
}
#heading p{
    width: 50%;
    font-size: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}
#heading input{
    width: 30rem;
    height: 4rem;
    border-radius: 10px;
    font-size:20px;
    padding-left: 30px;
    border: 10px solid rgb(228, 229, 243);
}
#heading button{
    width: 11rem;
    position: absolute;
    top: 0;
    border-radius: 5px;
    z-index:1;
    border: none;
    font-size: 20px;
    height:3rem;
    color: white;
    background-color: #00A8FB;
    margin-top:295px;
    right: 430px;
    cursor: pointer;
}
#heading input:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
#main .a{
    width:70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    justify-content:center;
    margin: auto;
    gap: 15px;
    text-align: center;
}
#main .a p{
    margin-top: 20px;
}

#howDoesAyoaHelp{
    display: flex;
    width: 90%;
    margin: auto;
    color: #555454;
    font-size: 20px;
    justify-content:space-between;
    line-height: 30px;
    margin-bottom: 100px;
    margin-top: 150px;
    border: 1px solid red;
    border-radius: 30px;

}
#howDoesAyoaHelp>div{
    width:40%;
    display: grid;
    margin-left: 50px;
    
    
}
#howDoesAyoaHelp>img{
    width: 45%;
    margin-top: 30px;
}
#howDoesAyoaHelp>div>h1{
    color: #00a9fd;
    margin-top: 20px;
}
#howDoesAyoaHelp h1 span{
    background-color:#00A8FB;
    color: white;
}
#howDoesAyoaHelp span{
    color: #00A8FB;
    border-radius: 5px;
}
#howDoesAyoaHelp #span{
    width:100%;
}
