#login{
    text-align: center;
    width:30%;
    margin: auto;
    margin-top: 100px;
}
input[type="email"]{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold; 
  border-radius: 10px; 
  padding: 10px;
}
input[type="password"]{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;  
    border-radius: 10px; 
    padding: 10px;
}
button{
    font-size: 15x;
    margin-bottom: 15px;
    padding: 10px 130px;
    background: #1794ff;
    border: 0ch;
    border-radius: 10px;
}
#login>p:nth-child(4){
    color: lightslategrey;
}
span>a{
    color:#1794ff;
    text-decoration: none;
}
img{
    width:40%;
}