button {
  border: none;
  border-radius: 15px;
  background: #ff0000;
  color: #fff;
  cursor: pointer;
  font: 1.2em "consolas";
  transition: transform 300ms ease;
  z-index: 2;
}
button:active {
  transform: scale(0.95);
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
canvas {
  background: #fff;
  border: 1px dashed;
  width: 100%;
}
a {
  display: inline-block;
  background: #69c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 100px;
  margin-left: 40px;
  text-decoration: none;
}
.pen-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}
.pen-tools > div {
  margin-left: 50px;
}
p {
  text-align: center;
  margin-bottom: 20px;
}
#clear {
  margin-left: 10px;
  background-color: red;
  padding: 5px 10px;
  border-radius: 100px;
  color: white;
  cursor: pointer;
}
.pen-size {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}
.board {
  width: 100%;
}
.drawing-colors {
  display: flex;
  margin-bottom: 10px;
}
.color-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.color-circle:nth-child(1) {
  background-color: hotpink;
}

.color-circle:nth-child(2) {
  background-color: orange;
}

.color-circle:nth-child(3) {
  background-color: red;
}

.color-circle:nth-child(4) {
  background-color: yellow;
}
.color-circle:nth-child(5) {
  background-color: black;
}

.color-circle:nth-child(6) {
  background-color: blue;
}

.color-circle:nth-child(7) {
  background-color: white;
}

.color-circle:nth-child(8) {
  background-color: green;
}
.active {
  transform: scale(1.3);
}
#container {
  display: grid;
  grid-template-columns: 10% 90%;
  margin-top: 20px;
}

#feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2px;
}
#feature button {
  width: 100%;
  background-color:white;
  color:rgb(20, 87, 204);
}
#feature > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}
