<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="login">
        <img src="https://auth.ayoa.com/images/ayoa-icon.png" alt="">
        <p id="SigninToAyoa">Sign in to Ayoa</p>
        <input type="email" id="email" placeholder="Email"><br>
        <input type="password" id="password" placeholder="Password"><br>
        <button id="submit">SIGN IN WITH EMAIL</button>
        <hr>
        <h5 style="color: rgba(0, 0, 0, 0.603);">Don't have an account? <span><a href="../signup/signup.html"> Sign up </a></span></h5>
        <p id="someText">Forgot password?</p>
        <p id="someText">This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.</p>
        <hr id="someLine">
        <img src="https://auth.ayoa.com/images/og_logo.svg" alt="">
    </div>
</body>
</html>
