<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div id="login">
        <img src="https://auth.ayoa.com/images/ayoa-icon.png" alt="">
        <p>Sign in to Ayoa</p>
        <input type="email" id="email" placeholder="Email"><br>
        <input type="password" id="password" placeholder="Password"><br>
        <button id="submit">Submit</button>
        <hr>
        <p>Don't have an account? <span><a href="./signup.html"> Sign up </a></span></p>
        <p>Forgot password?</p>
        <p>This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
        <hr>
        <img src="https://auth.ayoa.com/images/og_logo.svg" alt="">
    </div>
</body>
</html>