#sign{
    display: grid;
    grid-template-columns: 30% 65%;
    text-align: center;
}
#sign>div{
    padding: 0px  30px 60px 60px;
}
#sign>#ratingg{
    background: rgba(8, 70, 111, 1);
}
#ratingg>p:nth-child(2){
    color: lightgrey;
}
#ratingg>p:nth-child(3){
    width:100%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    line-height: 20px;
    color: #fff;
}
#ratingg>div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#ratingg>div>div:nth-child(1)>img{
    width: 120px;
    height: 120px;
}
#ratingg>div>div:nth-child(2)>strong,#ratingg>div>div:nth-child(2)>p{
    color: #fff;
    text-align: left;
    padding: 0px 0px 0px 20px;
}
#ratingg>img:nth-child(7){
    width:50%;
}
#signupp{
    width:40%;
    margin:auto;
}
#signupp>img:nth-child(1){
    width:60%;
    margin-bottom: 30px;
}
#signupp>p:nth-child(2){
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 20px;
  
}
input[type="text"],input[type="email"],input[type="password"]{
    padding: 7px 60px;
    border: 1px solid rgb(141, 188, 219);
    font-size: 16px;
    font-weight: 500;
    border-radius:20px ;
    margin: 10px;
}
input[type="text"]:hover,input[type="email"]:hover,input[type="password"]:hover{
    border: 1px solid rgb(39, 130, 191);
}
#signupp>div{
    display: grid;
    grid-template-columns: 20% 80%;
}
#signupp>div>div:nth-child(1){
    margin-top: 10px;
    padding: 10px;
    font-weight: 700;
}
#signupp>div>div:nth-child(2)>p{
    text-align: left;
    color: rgb(114, 112, 112);
    line-height: 20px;
    font-size: 10px;
}
#signupp>button{
    border-radius: 16.5px;
    background: linear-gradient(180deg, #089AFF 0%, #0D96FF 100%);
    border: 1px solid #008DF0 ;
    color: #fff;
    padding: 10px 80px;
    font-size: 16.4px;

}
#signupp>button:hover{
   box-shadow: inset 0 -1px 0 0 #008dfa, inset 0 2px 0 0 rgb(114 192 255 / 42%), 0 3px 0 0 rgb(0 81 138 / 11%);
}
#signupp>strong>a{
    text-decoration: none;
    color: #0D96FF;
}
#cc{
    font-size: 12px;
    color: rgb(121, 121, 121);
    margin-bottom: 60px;
}
.img{
    width:50%
}
@media only screen and (min-device-width: 100px) and (max-device-width: 500px){
    #sign{
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
    #sign>div{
        padding: 0px  0px 0px 0px;
    }
    input[type="text"],input[type="email"],input[type="password"]{
        padding: 7px 0px;
        border: 1px solid rgb(141, 188, 219);
        font-size: 16px;
        font-weight: 500;
        border-radius:20px ;
        margin: 10px;
    }
}